body{
    background-color: #f4f4f4;
}

.container{
    text-align: center;
    margin-top: 50px;
}

table{
    margin: auto;
}

input{  
    border-radius: 10px;
    font-size: 20px;
    width: 400px;
    height: 34px;
    border: 2px solid #093e1c;
    margin-bottom: 20px;
    padding: 5px;
    outline: none;
}

button{
    border-radius: 100px;
    font-size: 23px;
    height: 58px;
    width: 100px;
    background-color: aqua;
    outline-style: none;
}

.calculator{
    display: inline-block;
    background-color: #0f177e;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 26px;
}